<h1 style="color:white;font-weight: bold; position: relative;left:50px">REGISTER</h1>
<br>
<div style="width:500px;position:relative;left:50px">
<form #form="ngForm" (ngSubmit)="onsubmit()">
    <div class="mb-3">
        <label class="form-label" style="font-weight: bold;color: white;">Username</label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="data.username" class="form-control" placeholder="Enter username">
      </div>
      <div class="mb-3">
        <label class="form-label" style="font-weight: bold;color: white;">Password</label>
        <input type="password" name="password" #password="ngModel" [(ngModel)]="data.password" class="form-control" placeholder="Enter password">
      </div>
      <br>
      <input type="submit" class="form-control">
</form>
</div>
